<launch>
        <include file="$(find usb_cam)/launch/usb_cam-test.launch" />
        <include file="$(find apriltags_ros)/launch/example.launch" />

        <node pkg="tf" type="static_transform_publisher" name="usb_cam_frame" args="-0.17 -0.02 0.448 0.671 -0.67 0.218 -0.231 base_link usb_cam 100" />

	<include file="$(find cmvision)/cmvision.launch" />

	<node name="color_tracker" pkg="color_tracker" type="color_tracker" />
</launch>
